body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner"
        "side main"
        "footer footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */

/* -000- Area styling -000- */

.box {
    padding: 20px;
    border-radius: 10px; 
    }

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #A1021D;  /* pale green */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #f26419;
}

/* Area specifics */

.logo {
    padding: 0;
    float: left;
    
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #DDD;
    font-size: 150%;
    text-align: center;
}

.side {
    grid-area: side;
    background-color: #F1A155;
    color: #000
}

.main {
    grid-area: main;
    background-color: #F1A155;  /* very pale orange */
    border: solid 1px #E27712;
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Side Links */
a.side{font-weight: bold; text-decoration: none;}
a.side:link, .nav a:visited {color: #880a1b;}
a.side:hover {color: #c77c1b;}


/* links in page */
a {font-weight: bold;}
a:link{color: #a57713;} /*light gray */
a:visited{color: #88141e;} /* darker green */
a:hover{color: #c77c1b;}    /* medium light green*/
a:title{color: #ffffff}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #000; /* black */
    font-weight: bold;
}

/* Results box formatting */
.results {
    background-color: #f59031;
    border-radius: 10px;
    border: 1px solid #A1021D;
    padding: 5px;
}

/* Error Box Formatting */
.error {
    background-color: #ffe0ed; /* pale pink */
    border: 2px solid #8a1737; /* dark red border */
    color: #8a1737; /* dark red*/
    border-radius: 5px;
    padding: 20px;
}

/* form formatting */

.search {
    width: 176.5px;
    padding: 8px 15px;
    background: #fff;
}

.line {
    color: #340F09;
    border: 0.75px solid #340F09;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;  
}

.no-border {
    border-width: 0;
}

.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.submit {
    font-family: FontAwesome;
    position: relative;
    width: 105px;
    left: -1px;
    background-color: #b46e1e;
    color: #643c0e;
    border: 1px solid #7e521f;
    border-radius: 0px 500px 500px 0px
}

.rating_submit {
    font-family: FontAwesome;
    position: relative;
    width: 40px;
    left: -1px;
    background-color: #b46e1e;
    color: #643c0e;
    border: 1px solid #7e521f;
    border-radius: 0px 500px 500px 0px
}

.time_submit {
    font-family: FontAwesome;
    position: relative;
    width: 210spx;
    left: -1px;
    background-color: #b46e1e;
    color: #643c0e;
    border: 1px solid #7e521f;
    border-radius: 0px 500px 500px 0px
}


.submit_wide {
    font-family: FontAwesome;
    position: relative;
    width: 210.5px;
    left: -1px;
    background-color: #b46e1e;
    color: #643c0e;
    border: 1px solid #7e521f;
    border-radius: 0px 500px 500px 0px
}